* {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
}

/* Nabar */
.navbar {
        position: absolute;
        z-index: 999;
        display: flex;
        width: 100vw;
        background-color: #000000;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        border-bottom: 2px solid rgb(208, 165, 57);
}

.navbar .navlinks {
        display: flex;
        align-items: center;
}

.navbar .navlinks li {
        padding: 0 5px;
        cursor: pointer;
}

.navbar .navlinks a {
        margin: 20px;
        position: relative;
        color: #ffffff;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
}

.navbar .navlinks li a::after {
        content: "";
        width: 0%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(208, 165, 57);
        transition: width 0.3s;
}
.navbar .navlinks li a:hover::after {
        width: 50%;
}

@media screen and (max-width: 767px) {
        .navbar {
                padding: 30px;
        }
        .navlinks {
                z-index: 999;
                position: absolute;
                flex-direction: column;
                justify-content: center;
                width: 50vw;
                height: 100vh;
                top: 0;
                left: 0;
                background-color: #ffffff;
                backdrop-filter: blur(7px);
                align-items: center;
                margin-left: -100%;
                transition: 0.5s;
                border-right: 2px solid rgb(208, 165, 57);
                text-align: center;
        }

        .navlinks li {
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
        }
        .navbar .navlinks a {
                font-size: 1.4rem;
                color: rgb(208, 165, 57);
                padding: 20px;
        }
        .navbar .navlinks a::after {
                columns: #fff;
        }
}

/* Menu-Burger */
.burger {
        position: absolute;
        width: 25px;
        height: 25px;
        cursor: pointer;
        right: 30px;
        display: none;
}
.burger span {
        width: 100%;
        height: 4px;
        display: block;
}

.burger span {
        width: 100%;
        height: 4px;
        background-color: rgb(208, 165, 57);
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: backgroud-color 0.5s ease-in-out;
}
.burger span::before,
.burger span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background: rgb(208, 165, 57);
        transition: 0.5s;
}
.burger span::before {
        transform: translateY(-10px);
}
.burger span::after {
        transform: translateY(10px);
}
.cross span {
        background-color: transparent;
}
.cross span:before {
        transform: rotate(45deg);
        background-color: rgb(208, 165, 57);
}
.cross span:after {
        transform: rotate(-45deg);
        background-color: rgb(208, 165, 57);
}

@media screen and (max-width: 767px) {
        .burger {
                display: block;
        }
        .mobile-menu {
                margin-left: 0;
        }
}
